<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--<h1><a href = "/viewAjax">ViewAjax</a></h1>-->
            <!--<h1><a href = "/add">Add</a></h1>-->
            <!--<h1><a href = "/signUp">Sign Up</a></h1>-->
            <h1 style="font-size: 210%;">VoteOr</h1>
            <h3><a href = "/newPoll">New Poll</a></h3>
            <h3><a href = "/viewPolls">View Polls</a></h3>
            <h3><a href = "/takePoll/569a6a1350c76dd4e3d4545f">Take Poll</a></h3>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>