<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="js/view-db-items.js"></script>
</head>

<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--<h1><a href = "/">Home</a></h1>-->
            <!--<h1 style="font-size: 210%;">Voting App Add New Poll</h1>-->
            <h2>New Poll</h2>

            <form method="post" action="/addPoll">
                Question:
                <br>
                <input type="text" name="pQuest">
                <br> Options:
                <br>
                <input type="text" name="pOption1">
                <br>
                <input type="text" name="pOption2">
                <br>
                <input type="submit" value="Submit">
            </form>
            <br>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>