<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
        <script type="text/javascript" src="js/add-poll.js"></script>
</head>

<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--<h1><a href = "/">Home</a></h1>-->
            <!--<h1 style="font-size: 210%;">Voting App Add New Poll</h1>-->
            <h2>New Poll</h2>
            <div id="control-login">Please Log In to create poll.</div>
            <form id="poll-new" method="post" action="/addPoll" style = "display:none;">
                Question:
                <br>
                <input type="text" name="pQuest">
                <br> Options:
                <br>
                <div id="poll-options">
                    <input type="text" name="pOption1">
                    <br>
                    <input type="text" name="pOption2">
                    <br>
                </div>
                <button type='button' style="color:black;" id="poll-new-option">Add Option</button>
                <br>
                <input type="submit" style="color:black;" value="Submit">
                <br>
            </form>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>