<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="js/user-auth.js"></script>
</head>

<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Sign up for VoteOr</h1>
            <!--<form name="newUser" method="post" action="/addUser" onsubmit= "return validateNewUser()">-->
            <!--<form onsubmit = "validateNewUser()">-->
            <form id="nUser">
                Email:
                <br>
                <input type="text" name="nuEmail">
                <br> Name:
                <br>
                <input type="text" name="nuName">
                <br> Password:
                <br>
                <input type="text" name="nuPass">
                <br> Confirm Password:
                <br>
                <input type="text" name="nuPassConfirm">
                <br>
                <input type="submit" value="Submit">
            </form>
            <div id="database-data">Data</div>
            <br>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>