<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Voting and Polls</title>

    <!-- CSS -->
    <!-- load bootstrap and custom stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="js/p-view.js"></script>

</head>

<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">


            <h1 style="font-size: 210%;">Take Poll</h1>
            <div id="database-status">Status</div>
            <div id="database-data">Data</div>
            <div id="poll-number">Poll ID:<%=JSON.stringify(requestedPoll[0]["_id"])%></div>
            <div>Poll Name: <%=JSON.stringify(requestedPoll[0]["poll_name"])%></div>
            <div>Poll Options: <%=JSON.stringify(requestedPoll[0]["poll_options"])%></div>
            <div id="database-message">Message</div>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>