<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Voting and Polls</title>

    <!-- CSS -->
    <!-- load bootstrap and custom stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript" src="js/view-db-items.js"></script>


</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <div class="container">
        <div class="jumbotron">


            <h1 style="font-size: 210%;">Take Poll</h1>
            <div id="database-status">Status</div>
            <div id="database-data">Data</div>
            <div id="poll-number">Poll ID:
                <%=requestedPoll%>
            </div>
        </div>
    </div>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>