<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="js/p-view.js"></script>
</head>

<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">


            <h1 style="font-size: 210%;">Take Poll</h1>
            <div id="database-status">Status</div>
            <div id="database-data">Data</div>
            <div id="poll-number">Poll ID:<%=JSON.stringify(requestedPoll[0]["_id"])%></div>
            <div>Poll Name: <%=JSON.stringify(requestedPoll[0]["poll_name"])%></div>
            <div>Poll Options:</div>
            <form action="">
              <% for (option in requestedPoll[0]["poll_options"]){ %>
              <input type="radio" name="vote" value=<%=requestedPoll[0]["poll_options"][option][0] %>><%=requestedPoll[0]["poll_options"][option][0] %><br>
              <% } %>
            </form>
            <div id="database-message">Message</div>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>