<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="/js/view-db-items.js"></script>
    <script type="text/javascript" src="/js/poll-delete.js"></script>
</head>

<body onload="viewUserPolls()">

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--<h1><a href = "/">Home</a></h1>-->
            <!--<h1 style="font-size: 210%;">Voting App View</h1>-->
            <h2>Your Polls:</h2>
            <!--<button class="btn" id="test-btn" onclick="viewUserPolls()">My Polls</button>-->
            <!--<div id="database-stuff">Idle</div>-->
            <!--<div id="database-resp">Response</div>-->
            <div id="database-data">No Polls Found. Make Some!</div>
            <div id="user-polls"></div>
            <!--<br>-->
        </div>
    </div>
    
    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>