<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
        <script src="/js/chart.min.js"></script>
        <script src="/js/poll-view.js"></script>
</head>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 style="font-size: 210%;"><%=requestedPoll[0]["poll_name"]%></h1>
            <div id="canvas-holder">
                <canvas id="chart-area" width="500" height="500" />
            </div>
            <script>
              var requestedPoll = <%-JSON.stringify(requestedPoll)%>;
              console.log(requestedPoll);
            </script>
        </div>
    </div>
</body>

</html>