<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="js/view-db-items.js"></script>
</head>

<body onload="viewAllPolls()">

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h2>All Polls:</h2>
            <div id="database-data">No Polls in database?!</div>
            <br>
        </div>
    </div>
    
    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>