<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Voting and Polls</title>

    <!-- CSS -->
    <!-- load bootstrap and custom stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Voting App View</h1>
            <h2>View elements in database.</h2>
            <p>One:
                <%=JSON.stringify(mongoTemp)%>
            </p>
            <br>
            <div id="dateStamp" style="font-size: 80%;"><i></i></div>
            <div style="font-size: 80%;"><a href="https://github.com/dMcGaa/voting-app.git">GitHub</a></div>
            <script>
                var x = new Date(document.lastModified);
                document.getElementById("dateStamp").innerHTML = "Last Modified: " + x;
            </script>
        </div>
    </div>

</body>

</html>