<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
        <script src="/js/jquery-2.2.0.min.js"></script>
        <script src="/js/chart.min.js"></script>
        <script src="/js/poll-view.js"></script>
        
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 style="font-size: 210%;">Poll Results</h1>

            <div id="canvas-holder">
                <canvas id="chart-area" width="500" height="500" />
            </div>
        </div>
    </div>

</body>

</html>