<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %></head>
<body>

    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Voting App View</h1>
            <h2>View elements in database.</h2>
            <p>One:
                <%=JSON.stringify(mongoTemp)%>
            </p>
            <br>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>